<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milk_and_love.mapper.BoardNoticeMapper">
	<!-- 리스트 출력 -->
	<select id="selectList">
		SELECT * FROM(
			SELECT no, title, content, author, post_date, views, is_pinned, is_hidden, ROWNUM r_num FROM(
				SELECT *
				FROM board_notice
				<where>
					<if test="keyword != null">
						title LIKE '%' || #{keyword} || '%'
					</if>
				</where>
				ORDER BY is_pinned DESC, no DESC
			)
		)
		WHERE r_num <![CDATA[>=]]> #{start_row} AND r_num <![CDATA[<=]]> #{end_row}
	</select>

	<!-- 조건에 맞는 데이터 개수 -->
	<select id="selectTotalCount">
		SELECT count(*)
		FROM board_notice
		<where>
			<if test="keyword != null">
				title LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<!-- 고정 처리 -->
	<update id="updateStatusToPin">
		UPDATE board_notice
		SET is_pinned=1
		WHERE no IN(
			<foreach collection="array" item="no" index="index" separator=",">
				'${no}'
			</foreach>
		)
	</update>
	
	<!-- 고정 해제 처리 -->
	<update id="updateStatusToUnpin">
		UPDATE board_notice
		SET is_pinned=0
		WHERE no IN(
			<foreach collection="array" item="no" index="index" separator=",">
				'${no}'
			</foreach>
		)
	</update>
	
	<!-- 숨김 처리 -->
	<update id="updateStatusToHide">
		UPDATE board_notice
		SET is_hidden=1
		WHERE no IN(
			<foreach collection="array" item="no" index="index" separator=",">
				'${no}'
			</foreach>
		)
	</update>
	
	<!-- 숨김 해제 처리 -->
	<update id="updateStatusToDisplay">
		UPDATE board_notice
		SET is_hidden=0
		WHERE no IN(
			<foreach collection="array" item="no" index="index" separator=",">
				'${no}'
			</foreach>
		)
	</update>
	
	<!-- 공지사항 등록 -->
	<insert id="insert">
		INSERT INTO board_notice(no, title, content, author, is_hidden)
		VALUES(seq_board_notice_no.NEXTVAL, #{title}, #{content}, #{author}, #{is_hidden})
	</insert>

	<!-- 조회수 증가 -->
	<update id='updateViews'>
		UPDATE board_notice
		SET views=views+1
		WHERE no=#{no} 
	</update>
	
	<!-- 공지사항 정보 조회 -->
	<select id="select">
		SELECT * FROM board_notice
		WHERE no=#{no}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="update">
		UPDATE board_notice
		SET title=#{title}, content=#{content}, is_hidden=#{is_hidden}
		WHERE no=#{no}
	</update>
</mapper>
