@charset "UTF-8";

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
	border-collapse: collapse;
}

th {
	background: #ddd;
}

th, td {
	border: 1px solid black;
}